NEXT_PUBLIC_TRIP_NAME="" # Will appear as the page title and on the login
NEXT_PUBLIC_GROUP="" # Will appear anywhere your group is mentioned
BETTER_AUTH_SECRET="" # Generate at https://www.better-auth.com/docs/installation
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app
DATABASE_URL="" # Your Database URL (I like to use Neon)